
*{
    padding: 0;
    margin: 0;
}
/* root{
    --shadow:0 1px 5px rgba(104,104,104,0.8);
} */


/* below is the icon  */
svg[data-icon="fa-solid:user-astronaut"] {
    font-size: 60px;
  }
svg[data-icon="ion:arrow-back-circle-outline"] {
    font-size: 60px;
  }

body{
    background:linear-gradient(black,grey,black)repeat;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    height: 100vh;
}

#p {
    display: block;

}

/* The logo and title here */
header {
    background: linear-gradient(black,blue);
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


header a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: #fff; 
}

/* End of logo and title */

/* Below is the banner info */

.headline-info {
    position: relative;
}


.headline-info h1{
    color: #fff;
    background:red;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
}

/* Below is the body styling */
 
.main-body {
    margin: 15px 50px;
    position: relative;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 3fr;
   
}



.box1 h2 {
    color:#fff;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
    background:linear-gradient(black,blue);
}


.pod-btn {
    padding: 12px;
    background-color: blue;
    border: 1px solid #fff;
    border-radius: 2rem;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    position: relative;
    top: -45px;
}

 div a:hover{
    background-color: #ff0000;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height:auto;
    max-width: 100%;
    background-size: cover;
    background-position: center; 
     
}

.box1 p{
    position: relative;
    color:#fff;
    bottom: 0;
}

.box2 p {
    font-size: large;
    background-color: #fff;
    color: #000;
    padding: 15px;
}

.box2 h2{
    background:linear-gradient(black,blue);
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-bottom: 1px solid #000;
}

.bottom p{
    background-color: #000;
    color: #fff;
    padding:2rem;
    display: flex;
    justify-content: center;
    
}

.credit {
    margin-top: -10px;
}

@media (max-width: 620px) {
    .pod-btn {
       position: relative;
       top: -2px;
    }
    

}
@media (max-width:760px) {
   .main-body {
       margin-top: 0;
       display: block;
       width: 100%;
       margin-left: auto;
       margin-right: auto;
   }
}



